// @import це підключення файлів//

@import "./var";
@import "./mixin";

//вкладення підключення за допомогою Тав//
.header {
    font-size: 13px;
    
    h1 {
        font-size: 22px;
        color: $colorHeader;

    }
}

footer{
    @include baseF;

}